<%- include("header") -%>
<div class=container-fluid>

  <body>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="pricing-header display-4">Pricing Options</h1>
      <p class=>You entered <strong><%= quoteOrigin %></strong> as the origin and
        <strong><%= quoteDestination %></strong> as the destination.</p>
      <p class=>Choose from our competitively priced transport service options and get your vehicle shipped
        by us.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
      </div>
    </div>
  </body>
</div>
<%- include("footer") -%>