<%- include("header") -%>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-aid-nL-8Siq0uvQUG4I0UEWWJLoSlmc&libraries=places"></script>
<script type="text/javascript" src="https://www.carqueryapi.com/js/jquery.min.js"></script>
<script type="text/javascript" src="https://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var carquery = new CarQuery();
        carquery.init();
        carquery.initYearMakeModelTrim('car-years', 'car-makes', 'car-models', 'car-model-trims');

        //Set onclick function for the US filter checkbox and show data button
        $('#cq-sold-in-us').click(function () {
            carquery.setFilters({
                sold_in_us: this.checked
            });
        });
        $('#cq-show-data').click(function () {
            carquery.populateCarData('car-model-data');
        });

        // set the minimum date to tomorrow
        var tomorrow = new Date();
        tomorrow.sethate(new Date().gethate() + 1);
        document.getElementById("date-available").setAttribute('min', tomorrow.toISOString().split('T')[0]);

        //Retrieve autocomplete predictions for origin and destination inputs
        function initialize() {
            var input = document.getElementById('origins');
            var input2 = document.getElementById('destinations');
            new google.maps.places.Autocomplete(input);
            new google.maps.places.Autocomplete(input2);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    });


          
   
</script>


<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="pricing-header display-4">Get a Quote</h1>
        <p>Fill out the form below to get your vehicle transportation quote today.</p>
    </div>
    <div class="flex-container">
        <form action="/quote" method="POST" id="theForm" name="theForm">
            <div class="row destinations-row">
                <div class="col col-12 col-md-6">
                    <label for="origins">Origin</label>
                    <input class="form-control" name="origins" id="origins" type="text" placeholder="Zip or City,St"
                        required>
                </div>
                <div class="col col-12 col-md-6">
                    <label for="destinations">Destination</label>
                    <input class="form-control" name="destinations" id="destinations" type="text"
                        placeholder="Zip or City,St" required>
                </div>
            </div>

            <div class="row vehicle-row">
                <div class="col col-12 col-md-3">
                    <label for="car_years">Year</label>
                    <select class="custom-select" id="car-years" name="car_years"></select>
                </div>

                <div class="col col-12 col-md-3">
                    <label for="car_makes">Make</label>
                    <select class="custom-select" id="car-makes" name="car_makes"></select>
                </div>
                <div class="col col-12 col-md-3">
                    <label for="car_models">Model</label>
                    <select class="custom-select" id="car-models" name="car_models"></select>
                </div>
                <div class="col col-12 col-md-3">
                    <label for="car_model_trims">Body Type</label>
                    <select class="custom-select" id="car-model-trims" name="car_model_trims"></select>
                </div>
            </div>
            <div class="col col-12 col-md-3 date-available">
                <label for="car-model-trims">Date Available</label>
                <input class="custom-select" type="date" id="date-available" name="date-available" required>
            </div>
            <div class="col col-12 col-md-3" style="float: right">
                <label for="addVehicle">Add vehicle</label>
                <button type="button" id="add" onclick="Javascript:addRow()" name="addVehicle" value="Add"><i class="fas fa-plus" style="color: white;"></i></button>
            </div>
            <div class="container">
                <table id="myTable" class="table table-dark">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Trim</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="col col-12 form-button">
                <button class="btn btn-lg get-quote-button" type="submit">Get Quote!</button>
            </div>
    </div>
    </form>
</div>
</div>



<%- include("footer") -%>