<%- include("header") -%>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-aid-nL-8Siq0uvQUG4I0UEWWJLoSlmc&libraries=places"></script>
<script type="text/javascript" src="https://www.carqueryapi.com/js/jquery.min.js"></script>
<script type="text/javascript" src="https://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var carquery = new CarQuery();
        carquery.init();
        carquery.initYearMakeModelTrim('car-years', 'car-makes', 'car-models', 'car-model-trims');

        //Set onclick function for the US filter checkbox and show data button
        $('#cq-sold-in-us').click(function () {
            carquery.setFilters({
                sold_in_us: this.checked
            });
        });
        $('#cq-show-data').click(function () {
            carquery.populateCarData('car-model-data');
        });

        // set the minimum date to tomorrow
        var tomorrow = new Date();
        tomorrow.setDate(new Date().getDate() + 1);
        document.getElementById("date-available").setAttribute('min', tomorrow.toISOString().split('T')[0]);

        //Retrieve autocomplete predictions for origin and destination inputs
        function initialize() {
            var input = document.getElementById('origins');
            var input2 = document.getElementById('destinations');
            new google.maps.places.Autocomplete(input);
            new google.maps.places.Autocomplete(input2);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    });
</script>


<div class="container">
    <div class="pricing-header-container">
        <!-- Header Text -->
        <h1 class="pricing-header">Get a Quote</h1>
        <p class="pricing-sub-header">Fill out the form below to get your vehicle transportation quote today.</p>
    </div>
    <!-- Video of Tractor and Trailer -->
    <div class="video-container">
        <video src="/images/Select_One_Open.mp4" class="video" id="video" alt="Tractor and trailer looping video"
            title="Tractor and trailer unloading car and tractor with expandable trailer." loop>
            <!-- Fallback content if video cannot be played -->
            <img src="/images/s1gEnclosed.png" alt="Enclosed Car Trailer">
        </video>
    </div>
    <form action="/quote" method="POST" id="theForm" name="theForm">
        <!-- Origin & Destination -->
        <div class="container">
            <div class="row destinations-row">
                <!-- Origin -->
                <div class="col-sm">
                    <label for="origins" class="originLbl">Origin</label>
                    <input class="form-control origins" name="origins" id="origins" type="text"
                        placeholder="Enter an Address" required>
                    </input>
                </div>
                <!-- Destination -->
                <div class="col-sm">
                    <label for="destinations" class="destinationLbl">Destination</label>
                    <input class="form-control" name="destinations" id="destinations" type="text"
                        placeholder="Enter an Address" required>
                </div>
                <!-- Date Available -->
                <div class="col-sm">
                    <label for="car-model-trims" class="vehicleLbls">Date Available</label>
                    <input class="custom-select" type="date" id="date-available" name="date-available" required>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

            </div>
        </div>
        <!-- Vehicle Information -->
        <div class="container">
            <div class="row vehicle-row">
                <!-- Car Years -->
                <div class="col-sm">
                    <label for="car_years" class="vehicleLbls">Year</label>
                    <select class="custom-select" id="car-years" name="car_years"></select>
                </div>
                <!-- Car Makes -->
                <div class="col-sm">
                    <label for="car_makes" class="vehicleLbls">Make</label>
                    <select class="custom-select" id="car-makes" name="car_makes"></select>
                </div>
                <!-- Car Models -->
                <div class="col-sm">
                    <label for="car_models" class="vehicleLbls">Model</label>
                    <select class="custom-select" id="car-models" name="car_models"></select>
                </div>
                <!-- Car Model Trims -->
                <div class="col-sm">
                    <label for="car_model_trims" class="vehicleLbls">Body Type</label>
                    <select class="custom-select" id="car-model-trims" name="car_model_trims"></select>
                </div>
                <!-- Add Vehicle Button -->
                <div class="col-sm addVehicle-container" style="margin-top: 40px;">
                    <label class="addVehicle-text" for="addVehicle">Add Vehicle</label>
                    <button class="addVehicle" type="button" id="add" onclick="addRow(); addLblElement();" name="addVehicle"
                        value="Add"><i class="fas fa-plus" style="color: white;"></i></button>
                </div>
            </div>
            <div class="row">
                <!-- Dynamic Input Fields -->
                <div class="newElementId" id="newElementId">

                </div>
            </div>
        </div>
        <div class="table-container">
            <!-- Table -->
            <div class="table-lbl-container" id="tableLblContainer">
                
            </div>
            <table id="myTable" class="table table-borderless table-sm">
                <thead class="">
                    <tr class="hidethis">
                        <th class="table-headers">Year</th>
                        <th class="table-headers">Make</th>
                        <th class="table-headers">Model</th>
                        <!-- <th class="table-headers">Trim</th> -->
                        <th class="table-headers">Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col col-12 form-button-container">
            <button class="get-quote-button" type="submit">Get Quote!</button>
        </div>
    </form>
</div>
</div>



<%- include("footer") -%>