<%- include('header') -%>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>Some of the biggest names and brands in the automotive industry trust Select 1 Group. Brands like
                Hyundai, Volvo, Nissan, Chrysler, Volkswagen, Toyota and many others routinely call on us to move big
                quantities of their vehicles as well as their most guarded secret prototypes.
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Event Transport</h2>
                <p>Our clients trust us with their engineering vehicles, prototypes, and other specialty vehicles to and
                    from design studios, testing facilities, and engineering centers years before they are unveiled.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Consumer Transport</h2>
                <p>Safe and smooth vehicle transportation can have a dramatic effect on the bottom line for
                    manufacturers. That’s why the Select 1 Group team is so focused on ensuring quality and safety in
                    our vehicle transport services.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Specialized Transport</h2>
                <p>So whether manufacturers and suppliers need multiple vehicles moved to dealers, or one experimental
                    vehicle moved while being kept under wraps, they call on the same professionals — the ones who
                    proudly serve them as Select 1 Group.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>





<%- include('footer') %>