* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e7e7e7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.08' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #00538b;
}

h2 {
  color: #00538b;
  font-family: "Roboto", sans-serif;
}

label {
  color: #00538b;
  font-size: 20px;
}

button {
  background-color: #00538b;
}

.logo {
  widows: 100px;
  height: 75px;
}

.pricing-header {
  margin-top: 5rem;
}

.destinations-row {
  margin-bottom: 2rem;
}

.vehicle-row {
  margin-bottom: 2rem;
}

.date-available {
  padding: 0px;
  margin-bottom: 3rem;
}

.form-button {
  margin: 0;
  text-align: center;
}

.get-quote-button {
  background-color: #00538b;
  color: white;
}

.get-quote-button:hover {
  border: 2rem;
}

.table {
  background-color: #00538b;
}

/* Quote Page */

.card-header {
  background-color: #00538b;
  color: white;
  box-shadow: 2px 2px lightgray;
}

.card-body {
  background-color: whitesmoke;
  box-shadow: 2px 2px lightgray;
}

.link {
  background: none;
  border: none;
}

.link:hover {
  text-decoration: underline;
}

.proceed-to-checkout {
  margin: 0;
  text-align: center;
}

.proceed-to-checkout-button {
  background-color: #00538b;
  border-radius: 10px;
  color: white;
  height: 3rem;
  widows: 5rem;
  font-size: 20px;
}

.proceed-to-checkout-button:hover {
  opacity: 80%;
}

.proceed-to-summary {
  margin: 0;
  text-align: center;
}

.proceed-to-summary-button {
  background-color: #00538b;
  border-radius: 10px;
  color: white;
  height: 3rem;
  widows: 5rem;
  font-size: 20px;
}

.proceed-to-summary-button:hover {
  opacity: 80%;
}

.price-button {
  background-color: #00538b;
  color: white;
  width: 6rem;
  height: 3rem;
  font-size: 20px;
  border-radius: 10px;
}

.price-button:hover {
  opacity: 70%;
  border-color: darkorange;
  border-width: 5px;
}

#theForm {
  width: 100%;
  margin: auto;
  text-align: center;
}

.checkout-summary {
  position: relative;
  margin-top: 200px;
  text-align: center;
  top: 50%;
}

.select-open-trailer:hover {
  opacity: 80%;
}


.select-enclosed-trailer:hover {
  opacity: 80%;
}

/* Summary */




/* Footer */