h1 {
  font-family: "Roboto", sans-serif;
  color: #00538b;
}

h2 {
  color: #00538b;
  font-family: "Roboto", sans-serif;
}

label {
  color: #00538b;
  font-size: 20px;
}

.logo {
  widows: 100px;
  height: 75px;
}

.pricing-header {
  margin-top: 5rem;
}

.destinations-row {
  margin-bottom: 2rem;
}

.vehicle-row {
  margin-bottom: 2rem;
}

.date-available {
  padding: 0px;
  margin-bottom: 3rem;
}

.form-button {
  margin: 0;
  text-align: center;
}

.get-quote-button {
  background-color: #00538b;
  color: white;
}

.get-quote-button:hover {
  border: 2rem;
}

/* Quote Page */

.card-header {
  background-color: #00538b;
  color: white;
}

.proceed-to-checkout {
  margin: 0;
  text-align: center;
}

.proceed-to-checkout-button {
  background-color: #00538b;
  border-radius: 10px;
  color: white;
  height: 3rem;
  widows: 5rem;
  font-size: 20px;
}

.proceed-to-checkout-button:hover {
  opacity: 80%;
}

.proceed-to-summary {
  margin: 0;
  text-align: center;
}

.proceed-to-summary-button {
  background-color: #00538b;
  border-radius: 10px;
  color: white;
  height: 3rem;
  widows: 5rem;
  font-size: 20px;
}

.proceed-to-summary-button:hover {
  opacity: 80%;
}

.jumbotron {
  font-family: "Roboto", sans-serif;
  margin-top: 6rem;
}

.price-button {
  background-color: #00538b;
  color: white;
  width: 6rem;
  height: 3rem;
  font-size: 20px;
  border-radius: 10px;
}

.price-button:hover {
  opacity: 70%;
  border-color: darkorange;
  border-width: 5px;
}

#theForm {
  width: 100%;
  margin: auto;
  text-align: center;
}

.order-summary {
  font-family: "Roboto", sans-serif;
  float: left;
  text-align: justify;
  margin-top: 1.5rem;
  margin-left: 5%;
  width: 25%;
  font-size: 18px;
  background-color: whitesmoke;
}